@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
@import "./misc/mixins";
@import "./misc/variables";
// VIEWS
@import "./views/pages.scss";





//Normalize
$theme:dark;


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  @if $theme == dark {
    background-color:map-get($colores, negro);
    color: map-get($colores, blanco);
  }
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

/*RESPONSIVE*/
/*smartphone*/
@media (max-width: 480px) {
    #container {
      display: grid;
      grid-template-areas: 
          /*1 fila 4 columnas*/
        "encabezado"
        "marca"
        "paginas"
        "pie";
      grid-template-rows: 45% 58% 120% 10%;
    }
  /*MAIN*/
  #marca {
    grid-area: marca;
  }
  #paginas {
    grid-area: paginas;
    @include flex3 (column, center);
    padding-bottom: 390px;
  }

  .main {
    background-image: url(../images/montanasmart.png);
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    &__caja {
      @include flex (column, flex-end, flex-end,wrap)
      }
    
      &__slogan {
        background-color: map-get($colores, negro);
        color:  map-get($colores, blanco);
        @include font (normal, 100, 14px);
        font-family: "roboto", sans-serif;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 20px;
        &:hover {
            color: map-get($colores, verde);
          }
      }
    
      &__texto {
        color:  map-get($colores, blanco);
        background-color: rgba(0, 0, 0, 0.3);
        @include font(normal, 100, 14px);
        font-family: "roboto", sans-serif;
        line-height: 3;
        margin: 10px;
        padding-left: 10px;
        padding-top: 40px;
        max-width: 200px;
        &:hover {
            color: map-get($colores, verde);
          }
      }
    
     
      
      &__enlace {
        background-color: map-get($colores, rosa);
        color:map-get($colores, blanco);
        @include font (normal, 100, 10px);
        font-family: "roboto", sans-serif;
        text-decoration: none;
        padding: 5px;
        margin-right: 20px;
        &:hover {
            transition: 1s;
            transform: scale(1.1);
        }
      }
    }
   /*LINKS*/
   .enlaces {
    background-color: map-get($colores, negro);
    @include font(normal, 100, 10px);
    font-family: "roboto", sans-serif;
    @include flex2 (column, center);
    justify-content: space-evenly;
    & a {
      text-decoration: none;
      color: map-get($colores, blanco);
    }
    &__nombre {
      background-color: map-get($colores, azul);
      padding: 3px;
      margin-left: 80px;
    }
    &__img {
      width: 50%;
      margin-left: 10px;
      margin-bottom: 3%;
      border-radius: 10px;
      background-color: map-get($colores, negro);
      &:hover {
        transition: 1s;
        transform: scale(1.2);
      }
    }
   }
  /*FOOTER*/
  footer {
    margin-top: 100%;
    grid-area: pie;
  }
  .footer {
    padding: 15%;
    background-color: map-get($colores, rosa);
  }
}
/**********************tablet*********************/
@media (min-width: 481px) and (max-width: 1023px) {
    #container {
      display: grid;
      /*estrucura container*/
      grid-template-areas: 
          /*1 columna 4 filas*/
        "encabezado" /*fila1*/
        "marca" /*fila2*/
        "paginas" /*fila3*/
        "pie" /*fila4*/;
      grid-template-rows: auto auto auto 10%;
    }
  
    /*MAIN*/
    #marca {
      grid-area: marca;
    }
    #paginas {
      grid-area: paginas;
    }
    .main {
      background-image: url(../images/montanatabl.jpg);
      height: 130vh;
      background-repeat: no-repeat;
      background-size: cover;
      &__caja {
        @include flex (column, flex-end, flex-end,wrap);
        height: $alto+70;
        width: $ancho+300;
      }
      &__slogan {
        background-color: rgba(0, 0, 0, 0.3);
        color: map-get($colores, blanco);
        @include font (normal, 100, 20px);
        font-family: "roboto", sans-serif;
        margin-right: 615px;
        &:hover {
            color: map-get($colores, verde);
          }
      }
      &__texto {
        color:map-get($colores, blanco);
        @include font(normal, 100, 20px);
        font-family: "roboto", sans-serif;
        line-height: 1.7;
        margin: 10px;
        margin-top: 30px;
        margin-right: 650px;
        padding: 5px;
        max-width: 200px;
        float: right;
        &:hover {
            color: map-get($colores, verde);
          }
      }
    
      &__enlace {
        background-color: map-get($colores, rosa);
        color:map-get($colores, blanco);
        @include font(normal, 100, 16px);
        font-family: "roboto", sans-serif;
        text-decoration: none;
        margin-right: 730px;
        margin-top: 30px;
        padding: 5px;
      &:hover {
        transition: 1s;
        transform: scale(1.1);
      }}}
    
    /*LINKS*/
    .enlaces {
      background-color: map-get($colores, negro);
      @include font( normal, 100, 16px);
      font-family: "roboto", sans-serif;
      @include flex2 (column, center);
      padding-bottom: 80px;
      padding-top: 40px;
      margin-left: 210px;
    & a{ text-decoration: none;
        color:  map-get($colores, blanco);
        padding-left: 10px;
    }
        &__nombre {
            background-color: map-get($colores, azul);
          }
          &__img {
            @include flex2(column, center);
            width: 18%;
            border-radius: 20px;
            margin-left: 10px;
            margin-bottom: 15px;
            &:hover {
                transition: 1s;
                transform: scale(1.2);
              }
          }
        }  
        /*FOOTER*/
        footer {
          grid-area: pie;
        
        }
      .footer{
        background-color: map-get($colores, rosa);
        
      }
}

/**********************desktop********************/
@media (min-width: 1024px) {
    #container {
      display: grid;
      /*estrucura container*/
      grid-template-areas: 
          /*1 columna 4 filas*/
        "encabezado" /*fila1*/
        "marca" /*fila2*/
        "paginas" /*fila3*/
        "pie" /*fila4*/;
      grid-template-rows: 40% auto 20% 10%;
      grid-template-columns: auto;
    }
   
    /*MAIN*/
    #marca {
      grid-area: marca;
    }
    #paginas {
      grid-area: paginas;
    }
    .main {
      background-image: url(../images/montana.jpg);
      height: $alto+200;
      background-repeat: no-repeat;
      background-size: cover;
      &__caja {
        @include flex (column, flex-end, flex-end,wrap);
        height: $alto+70;
        width: $ancho+300;
      }
     &__slogan {
        background-color: map-get($colores, negro);
        color: map-get($colores, blanco);
        @include font(normal, 100, 20px);
        font-family: "roboto", sans-serif;
        margin-right: 165px;
        &:hover {
            color: map-get($colores, verde);
          }
      }
     
      &__texto {
        color:map-get($colores, blanco);
        @include font(normal, 100, 20px);
        font-family: "roboto", sans-serif;
        line-height: 1.7;
        margin: 10px;
        margin-top: 70px;
        margin-right: 200px;
        padding: 5px;
        max-width: 200px;
        float: right;
        &:hover {
            color: map-get($colores, verde);
          }
      }

      &__enlace {
        background-color: map-get($colores, rosa);
        color: map-get($colores, blanco);
        @include font (normal, 100, 16px);
        font-family: "roboto", sans-serif;
        text-decoration: none;
        margin-right: 250px;
        padding: 5px;
        &:hover {
            transition: 1s;
            transform: scale(1.1);
          }}
        }
      
      /*LINKS*/
      .enlaces {
        background-color:map-get($colores, negro);
        @include font(normal, 100, 16px);
        font-family: "roboto", sans-serif;
        @include flex2 (row, space-evenly);
        padding-bottom: 40px;
    
        margin-bottom: -375px;
        & a {
          text-decoration: none;
          color:map-get($colores, blanco);
        }
        &__nombre {
          background-color:map-get($colores, azul);
        }
        &__img {
          display: flex;
          flex-direction: row;
          width: 80%;
          margin-left: 10px;
          &:hover {
            transition: 1s;
            transform: scale(1.2);
          }}
        }
     
      /*FOOTER*/
      footer {
        grid-area: pie;
      }
      .footer {
        margin-top: 20%;
        padding: 3%;
        background-color: map-get($colores, rosa);
      }
    }
    
    /*********************Volver al menu ppal SMART***********************/

.menuprincipal {
    background-color: map-get($colores, negro);
    &__texto {
        color:map-get($colores, blanco);
        @include font (normal,100,10px);
        font-family: "Roboto", sans-serif;
        text-decoration: none;
      }
      &__logo {
        width: ($ancho/20)-30;
        height: ($alto/30);
        margin-top: 15px;
        margin-left: 20px;
      }}

/************************************************ANIMACIONES HOVER***********************************/
.texto-hover:hover {
  color:map-get($colores, verde);
}
.header__link:hover {
  transition: 1s;
  transform: scale(1.1);
}
.list-inline-item:hover {
  transition: 1s;
  transform: scale(1.1);
}
.footer__hover:hover {
  transition: 1s;
  transform: scale(1.1);
}


/*EXTEND*/
%slogan_desktop {
  background-color: map-get($colores, negro);
  color: map-get($colores, blanco);
  @include font (normal, 100, 20px);
  font-family: "Roboto", sans-serif;
  margin-right: 165px;
}

%slogan_tablet{
  background-color: rgba(0, 0, 0, 0.3);
        color: map-get($colores, blanco);
        @include font (normal,100, 20px);
        font-family: "Roboto", sans-serif;
        margin-right: 615px;
}

%slogan_smart{
  background-color: map-get($colores, negro);
        color:  map-get($colores, blanco);
        @include font(normal, 100, 14px);
        font-family: "Roboto", sans-serif;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 20px;

}

.slogan__destacado{
  @extend %slogan_desktop;
  font-size: 30px;
  font-weight: bold;
   &:hover {
    color: map-get($colores, verde);
  } 
}