@mixin flex ($direction, $justify, $align, $wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin flex2 ($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin flex3 ($direction, $align){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
}

@mixin font ($style, $weight, $size) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    
}

